@model SupplierViewModel

@{
    ViewData["Title"] = "Save";
}

<h1>Add a Supplier</h1>
<hr />
<p>All fields marked with an asterix are required.</p>
        <form asp-action="Create">

            @await Html.PartialAsync("_ModelStateErrorsPartial")

            <div class="row">
                <div class="col-md-4 form-group">
                    <label asp-for="Supplier.SupplierName" class="control-label"></label>
                    <input asp-for="Supplier.SupplierName" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Supplier.SupplierContactName" class="control-label"></label>
                    <input asp-for="Supplier.SupplierContactName" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Supplier.SupplierContactTitle" class="control-label"></label>
                    <input asp-for="Supplier.SupplierContactTitle" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Supplier.SupplierAddress" class="control-label"></label>
                    <input asp-for="Supplier.SupplierAddress" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Supplier.SupplierCity" class="control-label"></label>
                    <input asp-for="Supplier.SupplierCity" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Supplier.RegionId" class="control-label"></label><br />
                    <select asp-for="Supplier.RegionId"
                        asp-items="@(new SelectList(Model.Regions, nameof(RegionDto.RegionId), nameof(RegionDto.RegionDescription)))">
                        <option value= null>Please select one</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Supplier.SupplierPostalCode" class="control-label"></label>
                    <input asp-for="Supplier.SupplierPostalCode" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Supplier.SupplierCountry" class="control-label"></label>
                    <input asp-for="Supplier.SupplierCountry" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Supplier.SupplierPhone" class="control-label"></label>
                    <input asp-for="Supplier.SupplierPhone" class="form-control" />
                </div>
                 <div class="col-md-4 form-group">
                    <label asp-for="Supplier.SupplierFax" class="control-label"></label>
                    <input asp-for="Supplier.SupplierFax" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Supplier.SupplierHomepage" class="control-label"></label>
                    <input asp-for="Supplier.SupplierHomepage" class="form-control" />
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                 <a class="btn btn-secondary" type="button" asp-action="Index">Cancel</a>
            </div>
        </form>

