@model ProductViewModel

@{
    ViewData["Title"] = "Update";
}

<h3>Update Product</h3>

<hr />
<p>All fields marked with an asterix are required.</p>
        <form asp-action="Update">

            @await Html.PartialAsync("_ModelStateErrorsPartial")

            <div class="row">
                <div class="col-md-4 form-group d-none">
                    <label asp-for="Product.ProductId" class="control-label"></label>
                    <input asp-for="Product.ProductId" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Product.ProductName" class="control-label"></label>
                    <input asp-for="Product.ProductName" class="form-control" />
                </div>
                   <div class="col-md-4 form-group">
                    <label class="control-label">Supplier</label><br />
                    <select asp-for="Product.SupplierId" 
                        asp-items="@(new SelectList(Model.Suppliers, nameof(SupplierDto.SupplierId), nameof(SupplierDto.SupplierName)))">
                        <option value= null>Please select one</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label">ProductCategory</label><br />
                    <select asp-for="Product.ProductCategoryId" 
                        asp-items="@(new SelectList(Model.ProductCategories, nameof(ProductCategoryDto.ProductCategoryId), nameof(ProductCategoryDto.ProductCategoryName)))">
                        <option value= null>Please select one</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Product.ProductQuantityPerUnit" class="control-label"></label>
                    <input asp-for="Product.ProductQuantityPerUnit" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Product.ProductUnitPrice" class="control-label"></label>
                    <input asp-for="Product.ProductUnitPrice" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Product.ProductUnitsInStock" class="control-label"></label>
                    <input asp-for="Product.ProductUnitsInStock" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Product.ProductUnitsOnOrder" class="control-label"></label>
                    <input asp-for="Product.ProductUnitsOnOrder" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Product.ProductReorderLevel" class="control-label"></label>
                    <input asp-for="Product.ProductReorderLevel" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Product.ProductDiscontinued" class="control-label"></label><br />
                            <select asp-for="Product.ProductDiscontinued" class="custom-select">  
                                <option value="">Discontinued?</option>  
                                <option value="0">No</option>  
                                <option value="1">Yes</option>  
                            </select>
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                 <a class="btn btn-secondary" type="button" asp-action="Index">Cancel</a>
            </div>
        </form>

