@model OrderDetailsViewModel

@{
    ViewData["Title"] = "Add Order";
}

<h3>Add an Order Detail</h3>
<hr />
<p>All fields marked with an asterix are required.</p>
        <form asp-action="Create">

            @await Html.PartialAsync("_ModelStateErrorsPartial")

            <div class="row">
                <div class="col-md-4 form-group d-none">
                    <label asp-for="OrderDetail.OrderId" class="control-label"></label>
                    <input asp-for="OrderDetail.OrderId" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="OrderDetail.Product.ProductName" class="control-label"></label><br />
                    <select asp-for="OrderDetail.ProductId" class="form-control"
                        asp-items="@(new SelectList(Model.Products, nameof(ProductDto.ProductId), nameof(ProductDto.ProductName)))">
                        <option>Please select one</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="OrderDetail.OrderUnitPrice" class="control-label"></label>
                    <input asp-for="OrderDetail.OrderUnitPrice" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="OrderDetail.OrderQuantity" class="control-label"></label>
                    <input asp-for="OrderDetail.OrderQuantity" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="OrderDetail.OrderDiscount" class="control-label"></label>
                    <input asp-for="OrderDetail.OrderDiscount" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> 
                 <a class="btn btn-primary" type="button" href="/OrderDetail/Index?orderId=@Model.OrderDetail.OrderId">Cancel</a>
            </div>
        </form>


