@model OrderViewModel

@{
    ViewData["Title"] = "Add an order";
}

<h3>Add an order</h3>

<hr />
   <p>All fields marked with an asterix are required.</p>
        <form asp-action="Create">

             @await Html.PartialAsync("_ModelStateErrorsPartial")

            <div class="row">
                <div class="col-md-4 form-group">
                    <label asp-for="Order.Customer.CustomerName" class="control-label">Customer Name<span class="text-danger">*</span></label><br />
                    <select asp-for="Order.CustomerId" class="form-control"
                        asp-items="@(new SelectList(Model.Customers, nameof(CustomerDto.CustomerId), nameof(CustomerDto.CustomerName)))">
                        <option value= null>Please select one</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label>Assigned to<span class="text-danger">*</span></label><br />
                    <select asp-for="Order.EmployeeId" class="form-control"
                        asp-items="@(new SelectList(Model.Employees, nameof(EmployeeDto.EmployeeId), nameof(EmployeeDto.EmployeeFirstName)))">
                        <option value= null>Please select one</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderDate" class="control-label">Order Date<span class="text-danger">*</span></label>
                    <input asp-for="Order.OrderDate" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderRequiredDate" class="control-label">Required Date<span class="text-danger">*</span></label>
                    <input asp-for="Order.OrderRequiredDate" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderShippedDate" class="control-label"></label>
                    <input asp-for="Order.OrderShippedDate" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.Shipper.ShipperName" class="control-label">Shipper Name<span class="text-danger">*</span></label><br />
                    <select asp-for="Order.ShipperId" class="form-control" 
                        asp-items="@(new SelectList(Model.Shippers, nameof(ShipperDto.ShipperId), nameof(ShipperDto.ShipperName)))">
                        <option value=null>Please select one</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderFreight" class="control-label"></label>
                    <input asp-for="Order.OrderFreight" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderShipName" class="control-label"></label>
                    <input asp-for="Order.OrderShipName" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderShipAddress" class="control-label"></label>
                    <input asp-for="Order.OrderShipAddress" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderShipCity" class="control-label"></label>
                    <input asp-for="Order.OrderShipCity" class="form-control" />
                </div>
                   <div class="col-md-4 form-group">
                    <label asp-for="Order.ShipRegion.RegionDescription" class="control-label">Region<span class="text-danger">*</span></label><br />
                    <select asp-for="Order.ShipRegionId" class="form-control"
                        asp-items="@(new SelectList(Model.ShipRegions, nameof(RegionDto.RegionId), nameof(RegionDto.RegionDescription)))">
                        <option value=null>Please select a region</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderShipPostalCode" class="control-label"></label>
                    <input asp-for="Order.OrderShipPostalCode" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderShipCountry" class="control-label"></label>
                    <input asp-for="Order.OrderShipCountry" class="form-control" />
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                 <a class="btn btn-danger" type="button" asp-action="Index">Cancel</a>
            </div>
        </form>

