@model OrderViewModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update Order</h1>

<hr />
<p>All fields marked with an asterix are required.</p>
        <form asp-action="Update">

             @await Html.PartialAsync("_ModelStateErrorsPartial")

            <div class="row">
                <div class="col-md-4 form-group d-none">
                    <label asp-for="Order.OrderId" class="control-label"></label>
                    <input asp-for="Order.OrderId" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.Customer.CustomerName" class="control-label"></label><br />
                    <select asp-for="Order.CustomerId" 
                        asp-items="@(new SelectList(Model.Customers, nameof(CustomerDto.CustomerId), nameof(CustomerDto.CustomerName)))">
                        <option>Please select one</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderDate" class="control-label"></label>
                    <input asp-for="Order.OrderDate" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderRequiredDate" class="control-label"></label>
                    <input asp-for="Order.OrderRequiredDate" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderShippedDate" class="control-label"></label>
                    <input asp-for="Order.OrderShippedDate" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.Shipper" class="control-label"></label><br />
                    <select asp-for="Order.ShipperId" 
                        asp-items="@(new SelectList(Model.Shippers, nameof(ShipperDto.ShipperId), nameof(ShipperDto.ShipperName)))">
                        <option>Please select one</option>
                    </select>
                </div>

                <div class="col-md-4 form-group">
                    <label asp-for="Order.Employee" class="control-label"></label><br />
                    <select asp-for="Order.EmployeeId" 
                        asp-items="@(new SelectList(Model.Employees, nameof(EmployeeDto.EmployeeId), nameof(EmployeeDto.EmployeeFirstName)))">
                        <option>Please select one</option>
                    </select>
                </div>

                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderFreight" class="control-label"></label>
                    <input asp-for="Order.OrderFreight" class="form-control" />
                    <span asp-validation-for="Order.OrderFreight" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderShipName" class="control-label"></label>
                    <input asp-for="Order.OrderShipName" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderShipAddress" class="control-label"></label>
                    <input asp-for="Order.OrderShipAddress" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderShipCity" class="control-label"></label>
                    <input asp-for="Order.OrderShipCity" class="form-control" />
                </div>
                   <div class="col-md-4 form-group">
                    <label asp-for="Order.ShipRegion.RegionDescription" class="control-label"></label><br />
                    <select asp-for="Order.ShipRegionId" 
                        asp-items="@(new SelectList(Model.ShipRegions, nameof(RegionDto.RegionId), nameof(RegionDto.RegionDescription)))">
                        <option>Please select one</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderShipPostalCode" class="control-label"></label>
                    <input asp-for="Order.OrderShipPostalCode" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Order.OrderShipCountry" class="control-label"></label>
                    <input asp-for="Order.OrderShipCountry" class="form-control" />
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                 <a class="btn btn-secondary" type="button" asp-action="Index">Cancel</a>
            </div>
        </form>
