@model EmployeeViewModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<hr />
<p>All fields marked with an asterix are required.</p>
        <form asp-action="Update">
             
            @await Html.PartialAsync("_ModelStateErrorsPartial")

            <div class="row">
                <div class="col-md-4 form-group">
                    <label asp-for="Employee.EmployeeLastName" class="control-label">Last Name<span class="text-danger">*</span></label>
                    <input asp-for="Employee.EmployeeLastName" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Employee.EmployeeFirstName" class="control-label">First Name<span class="text-danger">*</span></label>
                    <input asp-for="Employee.EmployeeFirstName" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Employee.EmployeeTitle" class="control-label"></label>
                    <input asp-for="Employee.EmployeeTitle" class="form-control" />
                   
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Employee.EmployeeTitleOfCourtesy" class="control-label"></label>
                    <input asp-for="Employee.EmployeeTitleOfCourtesy" class="form-control" />
                    
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Employee.EmployeeBirthDate" 
                    class="control-label">Date of Birth<span class="text-danger">*</span></label>
                    <input asp-for="Employee.EmployeeBirthDate" id="min-age" class="form-control" />
                   
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Employee.EmployeeHireDate" 
                    class="control-label">Date Hired<span class="text-danger">*</span></label>
                    <input id="txtToday" asp-for="Employee.EmployeeHireDate" class="form-control" />
                    
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Employee.EmployeeExtension" class="control-label"></label>
                    <input asp-for="Employee.EmployeeExtension" class="form-control" />
                    
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Employee.EmployeeNotes" class="control-label"></label>
                    <input asp-for="Employee.EmployeeNotes" class="form-control" />
                    
                </div>
                <div class="col-md-4 form-group">                
                    <label asp-for="Employee.EmployeeSupervisorId" class="control-label"></label><br />
                    <select asp-for="Employee.EmployeeSupervisorId" class="form-control"
                        asp-items="@(new SelectList(Model.Employees, nameof(EmployeeDto.EmployeeId), nameof(EmployeeDto.EmployeeFullName)))">
                        <option value = null>Select a supervisor</option>
                    </select>                      
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Employee.EmployeeAddress" class="control-label"></label>
                    <input asp-for="Employee.EmployeeAddress" class="form-control" />
                    
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Employee.EmployeeCity" class="control-label"></label>
                    <input asp-for="Employee.EmployeeCity" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Employee.RegionId" class="control-label">Region<span class="text-danger">*</span></label><br />
                    <select asp-for="Employee.RegionId" class="form-control"
                        asp-items="@(new SelectList(Model.Regions, nameof(RegionDto.RegionId), nameof(RegionDto.RegionDescription)))">
                        <option value=0>Select a region</option>
                    </select>
                   
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Employee.EmployeePostalCode" class="control-label"></label>
                    <input asp-for="Employee.EmployeePostalCode" class="form-control" />
                    
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Employee.EmployeeCountry" class="control-label"></label>
                    <input asp-for="Employee.EmployeeCountry" class="form-control" />
                    
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Employee.EmployeePhone" class="control-label"></label>
                    <input asp-for="Employee.EmployeePhone" class="form-control" />
                    
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                 <a class="btn btn-danger" type="button" asp-action="Index">Cancel</a>
            </div> 
        </form>

