@model RegionViewModel

@{
    ViewData["Title"] = "Save";
}

<h3>Add a Region</h3>

<hr />
<p>All fields marked with an asterix are required.</p>
        <form asp-action="Create">

            @await Html.PartialAsync("_ModelStateErrorsPartial")

            <div class="row">
                <div class="col-md-4 form-group">
                    <label asp-for="Region.RegionDescription" class="control-label"></label>
                    <input asp-for="Region.RegionDescription" class="form-control" />
                </div>
            </div>           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                 <a class="btn btn-secondary" type="button" asp-action="Index">Cancel</a>
            </div>
        </form>

