@model RegionViewModel

@{
    ViewData["Title"] = "Update";
}

<h3>Update Region</h3>

<hr />
<p>All fields marked with an asterix are required.</p>
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4 form-group d-none">
                    <label asp-for="Region.RegionId" class="control-label"></label>
                    <input asp-for="Region.RegionId" class="form-control" />
                    <span asp-validation-for="Region.RegionId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Region.RegionDescription" class="control-label"></label>
                    <input asp-for="Region.RegionDescription" class="form-control" />
                    <span asp-validation-for="Region.RegionDescription" class="text-danger"></span>
                </div>
            </div>           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                 <a class="btn btn-secondary" type="button" asp-action="Index">Cancel</a>
            </div>
        </form>